# Konfiguracje środowiskowe
.env
.env.local
.env.*.local

# Systemowe śmieci
.DS_Store
Thumbs.db

# Logi
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/edytory
.vscode/
.idea/

# Prisma
prisma/dev.db
prisma/*.db-journal

# Build & cache
dist/
build/
.cache/
.tmp/

# Dependency directories
node_modules/

# Firebase keys
services/NotificationServices/config/firebase-service-account.json
# Firebase credentials
services/NotificationServices/config/temp.json
services/NotificationServices/config/encoded.txt
services/NotificationServices/config/firebase-service-account.json
temp.json
encoded.txt