-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."PushTokenType" AS ENUM ('expo', 'fcm');

-- CreateEnum
CREATE TYPE "public"."Platform" AS ENUM ('android', 'ios', 'web');

-- CreateTable
CREATE TABLE "public"."User" (
    "id" SERIAL NOT NULL,
    "userName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "gender" TEXT,
    "avatarUrl" TEXT,
    "age" INTEGER,
    "description" TEXT,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "verificationExpires" TIMESTAMP(3),
    "verificationToken" TEXT,
    "customNotifyEnabled" BOOLEAN NOT NULL DEFAULT false,
    "customNotifyLat" DOUBLE PRECISION,
    "customNotifyLng" DOUBLE PRECISION,
    "lastDeviceLat" DOUBLE PRECISION,
    "lastDeviceLng" DOUBLE PRECISION,
    "notificationRadiusKm" INTEGER NOT NULL DEFAULT 30,
    "rankCompletedEvents" INTEGER NOT NULL DEFAULT 0,
    "rankUniqueLocations" INTEGER NOT NULL DEFAULT 0,
    "codeExpiresAt" TIMESTAMP(3),
    "isPhoneVerified" BOOLEAN NOT NULL DEFAULT false,
    "phoneNumber" TEXT,
    "verificationCode" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Event" (
    "id" SERIAL NOT NULL,
    "location" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "activity" TEXT NOT NULL,
    "creatorId" INTEGER NOT NULL,
    "maxParticipants" INTEGER NOT NULL,
    "genderBalance" BOOLEAN NOT NULL DEFAULT false,
    "maxAge" INTEGER,
    "minAge" INTEGER,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "creatorLatAtCreate" DOUBLE PRECISION,
    "creatorLngAtCreate" DOUBLE PRECISION,
    "locationId" TEXT,
    "locationKey" TEXT,

    CONSTRAINT "Event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EventParticipant" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "eventId" INTEGER NOT NULL,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EventParticipant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EventCompletion" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "eventId" INTEGER NOT NULL,
    "locationKey" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EventCompletion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserLocationVisit" (
    "userId" INTEGER NOT NULL,
    "locationKey" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserLocationVisit_pkey" PRIMARY KEY ("userId","locationKey")
);

-- CreateTable
CREATE TABLE "public"."UserInterest" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "activity" TEXT NOT NULL,

    CONSTRAINT "UserInterest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PushToken" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "token" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "platform" "public"."Platform",
    "tokenType" "public"."PushTokenType" NOT NULL DEFAULT 'expo',
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PushToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Notification" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "message" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Friendship" (
    "id" SERIAL NOT NULL,
    "requesterId" INTEGER NOT NULL,
    "recipientId" INTEGER NOT NULL,
    "status" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Friendship_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_userName_key" ON "public"."User"("userName");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_phoneNumber_key" ON "public"."User"("phoneNumber");

-- CreateIndex
CREATE INDEX "User_customNotifyLat_customNotifyLng_idx" ON "public"."User"("customNotifyLat", "customNotifyLng");

-- CreateIndex
CREATE INDEX "User_lastDeviceLat_lastDeviceLng_idx" ON "public"."User"("lastDeviceLat", "lastDeviceLng");

-- CreateIndex
CREATE INDEX "Event_latitude_longitude_idx" ON "public"."Event"("latitude", "longitude");

-- CreateIndex
CREATE INDEX "Event_creatorLatAtCreate_creatorLngAtCreate_idx" ON "public"."Event"("creatorLatAtCreate", "creatorLngAtCreate");

-- CreateIndex
CREATE INDEX "Event_locationId_idx" ON "public"."Event"("locationId");

-- CreateIndex
CREATE INDEX "Event_locationKey_idx" ON "public"."Event"("locationKey");

-- CreateIndex
CREATE INDEX "EventParticipant_userId_idx" ON "public"."EventParticipant"("userId");

-- CreateIndex
CREATE INDEX "EventParticipant_eventId_idx" ON "public"."EventParticipant"("eventId");

-- CreateIndex
CREATE UNIQUE INDEX "EventParticipant_userId_eventId_key" ON "public"."EventParticipant"("userId", "eventId");

-- CreateIndex
CREATE UNIQUE INDEX "EventParticipant_eventId_userId_key" ON "public"."EventParticipant"("eventId", "userId");

-- CreateIndex
CREATE INDEX "EventCompletion_userId_idx" ON "public"."EventCompletion"("userId");

-- CreateIndex
CREATE INDEX "EventCompletion_eventId_idx" ON "public"."EventCompletion"("eventId");

-- CreateIndex
CREATE INDEX "EventCompletion_locationKey_idx" ON "public"."EventCompletion"("locationKey");

-- CreateIndex
CREATE UNIQUE INDEX "EventCompletion_userId_eventId_key" ON "public"."EventCompletion"("userId", "eventId");

-- CreateIndex
CREATE INDEX "UserLocationVisit_userId_idx" ON "public"."UserLocationVisit"("userId");

-- CreateIndex
CREATE INDEX "UserLocationVisit_locationKey_idx" ON "public"."UserLocationVisit"("locationKey");

-- CreateIndex
CREATE INDEX "UserInterest_userId_idx" ON "public"."UserInterest"("userId");

-- CreateIndex
CREATE INDEX "PushToken_userId_idx" ON "public"."PushToken"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "PushToken_userId_token_tokenType_key" ON "public"."PushToken"("userId", "token", "tokenType");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "public"."Notification"("userId");

-- CreateIndex
CREATE INDEX "Friendship_requesterId_idx" ON "public"."Friendship"("requesterId");

-- CreateIndex
CREATE INDEX "Friendship_recipientId_idx" ON "public"."Friendship"("recipientId");

-- AddForeignKey
ALTER TABLE "public"."Event" ADD CONSTRAINT "Event_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EventParticipant" ADD CONSTRAINT "EventParticipant_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "public"."Event"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EventParticipant" ADD CONSTRAINT "EventParticipant_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EventCompletion" ADD CONSTRAINT "EventCompletion_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "public"."Event"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EventCompletion" ADD CONSTRAINT "EventCompletion_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserLocationVisit" ADD CONSTRAINT "UserLocationVisit_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserInterest" ADD CONSTRAINT "UserInterest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PushToken" ADD CONSTRAINT "PushToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Friendship" ADD CONSTRAINT "Friendship_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Friendship" ADD CONSTRAINT "Friendship_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

